<%= stylesheet_link_tag "http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/default.min.css" %>
<%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js" %>
<script>hljs.initHighlightingOnLoad();</script>

<h2>Run Rrrc script</h2>
<%= form_for @form, :url => {:action => "req", :issue => @form.issue}  do |f| %>
  <div class="extract iss">
    Run test script file <%= @attachment ? @attachment.filename : "#" + @form.id.to_s %> on <%= f.select :ip, @ip_table%>
  </div>
  <p>
    <%= f.submit "Run" %>
    <% if @form.issue %>
      <%= link_to "back to ticket", {controller: 'issues', action: 'show', id: @form.issue } %>
    <% end %>
  </p>
  <h3>Details</h3>
  <pre><code class="ruby">
<%= @content %>
  </code></pre>
<% end %>
